@import "parts/_mixin";
@import "parts/nesting";

*{
  margin: 0;
  padding: 0;
}

html{
  display: block;
}

body {
  background-color: black;
  color: white;
}

.button:hover {
  color: black;
  background-color: #d3ab55;
}

